#s-e043ad75-cfa0-493f-a95e-1996b179d6ec > #backgroundBox {
  position: absolute;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 778.0px;
  width: 100%;
  height: 100%;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_1 {
  width: 360.0px;
  height: 89.00000000000003px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_1 {
  position: absolute;
  width: 360.0px;
  min-height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(0,0,0,0.25));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_1 {
  position: absolute;
  width: 154.2158203125px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_1 {
  position: absolute;
  width: 15.0px;
  height: 11.920103073120117px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_2 {
  position: absolute;
  width: 13.0px;
  height: 13.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_3 {
  position: absolute;
  width: 7.0px;
  height: 7.699999809265137px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_4 {
  position: absolute;
  width: 7.0px;
  height: 6.299999237060547px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_2 {
  width: 359.0px;
  height: 48.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 {
  position: absolute;
  width: 359.0px;
  min-height: 48.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_5 {
  position: absolute;
  width: 17.0px;
  height: 19.720354080200195px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Ellipse_1 {
  width: 20.0px;
  height: 20.0px;
  min-height: 20.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 {
  position: absolute;
  width: 19.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Image_2 .imageViewport > * {
  width: 156.05857700541296%;
  height: 99.99999999999997%;
  left: -27.082640077011455%;
  top: -0.0%;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Image_2 {
  position: absolute;
  width: 360.76197207697976px;
  height: 562.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 {
  position: absolute;
  width: 57.181019332161895px;
  min-height: 55.28027729396956px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 1px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_100 {
  position: absolute;
  width: 26.000158309936523px;
  height: 26.000158309936523px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Hotspot_2 {
  position: absolute;
  width: 60.244288224955994px;
  height: 59.22886852925296px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_4 {
  width: 360.0px;
  height: 80.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Table_6 {
  position: absolute;
  width: 100.0%;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Table_6 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_36 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_36 .verticalalign {
  vertical-align: middle;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_36 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_36 {
  width: 33.33333333333333%;
  height: 99.99999999999997%;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_6 {
  position: absolute;
  width: 14.0px;
  height: 20.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_7 {
  position: absolute;
  width: 5.0px;
  height: 5.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_3 {
  position: absolute;
  width: 44.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Hotspot_14 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_54 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_54 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_54 .verticalalign {
  vertical-align: middle;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_54 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_54 {
  width: 33.33333333333333%;
  height: 99.99999999999997%;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_29 span#rtr-s-Rectangle_29_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_12 {
  position: absolute;
  width: 17.490001678466797px;
  height: 17.490001678466797px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_4 {
  position: absolute;
  width: 53.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_4 span {
  color: #49454F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #49454F;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Hotspot_13 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_55 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_55 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_55 .verticalalign {
  vertical-align: middle;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_55 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Cell_55 {
  width: 33.33333333333333%;
  height: 99.99999999999997%;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_23 {
  position: absolute;
  width: 18.0px;
  height: 12.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Rectangle_30 span#rtr-s-Rectangle_30_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_5 {
  position: absolute;
  width: 53.0px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_5 span {
  color: #49454F;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #49454F;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Hotspot_12 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_28 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Circle_1 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_26 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_27 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_29 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_30 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_31 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_32 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_33 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_34 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_35 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_36 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_37 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_38 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_39 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_40 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_41 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_42 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_43 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_44 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_45 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_46 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_47 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_48 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_49 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_50 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_51 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_52 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_53 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_54 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_55 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_56 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_57 {
  position: absolute;
  width: 20.814361572265625px;
  height: 35.71683883666992px;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec #s-Path_58 {
  position: absolute;
  width: 7.197761535644531px;
  height: 7.229950428009033px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e043ad75-cfa0-493f-a95e-1996b179d6ec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}