#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 > #backgroundBox {
  position: absolute;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 > #alignmentBox {
  position: relative;
  max-width: 412.0px;
  max-height: 778.0px;
  width: 100%;
  height: 100%;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Image_1 {
  position: absolute;
  width: 412.0px;
  height: 777.999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Image_1 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_1 {
  position: absolute;
  width: 146.0px;
  height: 137.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_2 {
  position: absolute;
  width: 107.0px;
  height: 38.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_3 {
  position: absolute;
  width: 411.9999999999993px;
  height: 72.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_4 {
  position: absolute;
  width: 250.9999999999999px;
  height: 79.62563667232598px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_6 {
  position: absolute;
  width: 140.99999999999977px;
  height: 84.8017621145375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_7 {
  position: absolute;
  width: 129.0px;
  height: 85.18722466960344px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_8 {
  position: absolute;
  width: 123.0px;
  height: 87.50000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Image_2 {
  position: absolute;
  width: 355.99999999999955px;
  height: 105.13412563667237px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_5 {
  position: absolute;
  width: 412.0px;
  height: 71.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Image {
  position: absolute;
  width: 320.0px;
  height: 320.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 #s-Hotspot_9 {
  position: absolute;
  width: 42.99999999999977px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c1b9f545-1d3c-4ae3-82e1-e4f17d763df7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}