#s-c9532040-1e1b-4819-b5d6-368fc5231fca > #backgroundBox {
  position: absolute;
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca > #alignmentBox {
  position: relative;
  max-width: 412.0px;
  max-height: 778.0px;
  width: 100%;
  height: 100%;
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Image_1 {
  position: absolute;
  width: 411.99999999999864px;
  height: 778.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_1 {
  position: absolute;
  width: 91.99999999999977px;
  height: 53.145161290322505px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_2 {
  position: absolute;
  width: 107.0px;
  height: 38.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_3 {
  position: absolute;
  width: 364.0px;
  height: 71.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_4 {
  position: absolute;
  width: 45.00000000000001px;
  height: 79.62563667232598px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_6 {
  position: absolute;
  width: 140.99999999999977px;
  height: 84.8017621145375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_7 {
  position: absolute;
  width: 129.0px;
  height: 85.18722466960344px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_8 {
  position: absolute;
  width: 123.0px;
  height: 87.50000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca #s-Hotspot_5 {
  position: absolute;
  width: 40.50000000000068px;
  height: 48.75976230899836px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c9532040-1e1b-4819-b5d6-368fc5231fca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}