#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c > #backgroundBox {
  position: absolute;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 778.0px;
  width: 100%;
  height: 100%;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Image_1 {
  position: absolute;
  width: 360.0px;
  height: 720.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_12 {
  position: absolute;
  width: 355.9999999999999px;
  min-height: 352.3439667128987px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFFB2 3.3908045977011643%, #FFFFFF00 30.0%);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_86 {
  position: absolute;
  width: 15.0px;
  height: 11.920103073120117px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_87 {
  position: absolute;
  width: 13.0px;
  height: 13.162274360656738px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_88 {
  position: absolute;
  width: 7.0px;
  height: 7.796116828918457px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_89 {
  position: absolute;
  width: 7.0px;
  height: 6.378641128540039px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_78 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_78 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_78 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_78 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_78 span#rtr-s-Paragraph_78_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.4px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 {
  position: absolute;
  width: 330.0px;
  min-height: 83.02357836338422px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.8369701987210297E-16px 3.0px 3px rgba(0,0,0,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 span {
  color: #21005E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #21005E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 input::-webkit-input-placeholder {
  color: #313033;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 input::-moz-placeholder {
  color: #313033;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 input:-moz-placeholder {
  color: #313033;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 input:-ms-input-placeholder {
  color: #313033;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 {
  position: absolute;
  width: 304.1698113207548px;
  height: 47.5866851595007px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 .valign {
  vertical-align: middle;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.25px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 > .backgroundLayer {
  border-top-left-radius: 23.0px;
  border-top-right-radius: 23.0px;
  border-bottom-right-radius: 23.0px;
  border-bottom-left-radius: 23.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 > .borderLayer {
  border-top-left-radius: 23.0px;
  border-top-right-radius: 23.0px;
  border-bottom-right-radius: 23.0px;
  border-bottom-left-radius: 23.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 > .backgroundLayer {
  border-top-left-radius: 23.0px;
  border-top-right-radius: 23.0px;
  border-bottom-right-radius: 23.0px;
  border-bottom-left-radius: 23.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Input_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 37px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_94 {
  position: absolute;
  width: 13.0px;
  height: 18.80324935913086px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 {
  position: absolute;
  width: 330.0px;
  min-height: 128.58529819694886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-2.4492935982947064E-16px 4.0px 3px rgba(0,0,0,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #F3EDF7;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 45px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 span {
  color: #21005E;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #21005E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 {
  position: absolute;
  width: 74.00000000000011px;
  min-height: 102.26074895977808px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 27px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_10 span#rtr-s-Button_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 {
  position: absolute;
  width: 74.0px;
  min-height: 102.26074895977803px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 27px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 span {
  color: #313033;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.4px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_11 span#rtr-s-Button_11_0 {
  color: #313033;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.4px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 {
  position: absolute;
  width: 74.0px;
  min-height: 102.26074895977803px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 27px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_12 span#rtr-s-Button_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 {
  position: absolute;
  width: 73.99999999999989px;
  min-height: 102.26074895977808px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 27px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 span {
  color: #313033;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.4px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Button_14 span#rtr-s-Button_14_0 {
  color: #313033;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 8.25pt;
  letter-spacing: 0.4px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_96 {
  position: absolute;
  width: 16.0px;
  height: 17.77777862548828px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_3 {
  position: absolute;
  width: 17.0px;
  height: 18.214284896850586px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_6 {
  position: absolute;
  width: 17.875px;
  height: 19.503225326538086px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_67 {
  position: absolute;
  width: 21.66666603088379px;
  height: 20.58333396911621px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_1 {
  width: 360.0px;
  height: 80.99861303744797px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Table_5 {
  position: absolute;
  width: 100.0%;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Table_5 > .backgroundLayer > .colorLayer {
  background-color: #E8DEF8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_35 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_35 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_35 .verticalalign {
  vertical-align: middle;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_35 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_35 {
  width: 19.999999999999996%;
  height: 99.99999999999997%;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_35 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_92 {
  position: absolute;
  width: 72.00000000000001px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_92 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_92 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_92 span {
  color: #1E192B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_92 span#rtr-s-Paragraph_92_0 {
  color: #1E192B;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_99 {
  position: absolute;
  width: 14.0px;
  height: 20.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_10 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_51 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_51 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_51 .verticalalign {
  vertical-align: middle;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_51 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_51 {
  width: 19.999999999999996%;
  height: 99.99999999999997%;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_51 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_93 {
  position: absolute;
  width: 72.00000000000003px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_93 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_93 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_93 span {
  color: #49454E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_93 span#rtr-s-Paragraph_93_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_68 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_98 {
  position: absolute;
  width: 20.0px;
  height: 16.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_9 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_52 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_52 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_52 .verticalalign {
  vertical-align: middle;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_52 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_52 {
  width: 19.999999999999996%;
  height: 99.99999999999997%;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_52 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_26 span#rtr-s-Rectangle_26_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_94 {
  position: absolute;
  width: 71.99999999999997px;
  min-height: 18.000744552612332px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_94 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_94 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_94 span {
  color: #49454E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_94 span#rtr-s-Paragraph_94_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_95 {
  position: absolute;
  width: 14.0px;
  height: 18.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_8 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_53 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_53 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_53 .verticalalign {
  vertical-align: middle;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_53 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_53 {
  width: 19.999999999999996%;
  height: 99.99999999999997%;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_53 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.12);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_27 span#rtr-s-Rectangle_27_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_95 {
  position: absolute;
  width: 71.99999999999994px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_95 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_95 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_95 span {
  color: #49454E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_95 span#rtr-s-Paragraph_95_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_70 {
  position: absolute;
  width: -1.0px;
  height: -1.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_71 {
  position: absolute;
  width: 20.0px;
  height: 20.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_7 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_6 {
  width: 19.999999999999996%;
  height: 99.99999999999997%;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Cell_6 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #D8CFE8;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 {
  position: absolute;
  width: 59.000000000000014px;
  min-height: 31.03px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 > .backgroundLayer > .colorLayer {
  background-color: rgba(103,80,164,0.08);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_28 span#rtr-s-Rectangle_28_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_96 {
  position: absolute;
  width: 72.00000000000011px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_96 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_96 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_96 span {
  color: #49454E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Paragraph_96 span#rtr-s-Paragraph_96_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 9.0pt;
  letter-spacing: 0.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_97 {
  position: absolute;
  width: 16.0px;
  height: 19.5px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_11 {
  position: absolute;
  width: 100.0%;
  height: 79.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 {
  position: absolute;
  width: 56.0px;
  min-height: 56.69902912621376px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 1px rgba(0,0,0,0.35));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_100 {
  position: absolute;
  width: 26.000158309936523px;
  height: 26.000158309936523px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_2 {
  position: absolute;
  width: 59.0px;
  height: 60.74895977808603px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-6.123233995736766E-17px 1.0px 1px rgba(0,0,0,0.35));
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Ellipse_22 {
  width: 52.00000000000023px;
  height: 52.64909847434126px;
  min-height: 52.64909847434126px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_22 span#rtr-s-Ellipse_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_78 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_5 {
  position: absolute;
  width: 59.0px;
  height: 60.74895977808592px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  z-index: 100;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_2 {
  width: 359.0px;
  height: 48.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 {
  position: absolute;
  width: 359.0000000000001px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Path_1 {
  position: absolute;
  width: 17.0px;
  height: 19.720354080200195px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Ellipse_1 {
  width: 20.0px;
  height: 20.0px;
  min-height: 20.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 {
  position: absolute;
  width: 19.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 2.0px;
  border-top-right-radius: 2.0px;
  border-bottom-right-radius: 2.0px;
  border-bottom-left-radius: 2.0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c #s-Hotspot_1 {
  position: absolute;
  width: 358.9999999999998px;
  height: 775.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b794aa92-a348-4d1a-a1b9-1d937440cd0c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}